
header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#25688C;
  height: 60px;

}

body {
  text-align: center;
  /* https://mycolor.space/gradient?ori=to+top&hex=%23051237&hex2=%2312C8EB&sub=1 */


}

.iconAck {
  font-size: 10px;
}

.personalPhoto {
  margin:50px auto;
  width:275px;
  height:275px;
  border-radius: 150px;
}

.brand {
  margin: 0 175px;
}


.linkImages{
  width:60px;
  height:60px;
}

.skillsBox {
  margin:100px 125px;
  border:1px solid black;

}

.projPictures {
  width:250px;
  height:250px;
}



nav {

  margin-left, margin-right: 50px;
}
button {


  height: 60px;
  width:100px;

}

.madeBy {
  margin:10px auto;
}


.projectBoxes {
  display: flex;
  flex-direction: row;
  padding:5px 15px;
}
.projectBoxesText {
  margin:0 50px;
}
footer {

  position: absolute;
  bottom:auto;
  color:red;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
}
