 <!--THIS IS THE FIRST "page" loaded  -->
 <div class='profile'>
   <img class='personalPhoto' src='' />
   <div class='skillsBox'>
      <h3>Skills</h3>
      <h4>Front-End</h4><p>
        AngularJS, Javascript, HTML, CSS, jQuery, EJS
      </p>
      <h4>Back-End</h4><p>
        ExpressJS, Ruby
      </p>
      <h4>Database</h4><p>
        MongoDB, Mongoose, MySQL,
      </p>
      <h4>Other:</h4><p>
        Git, Github, 
      </p>
   </div>
   <div class='contactBox'>
     <a href='#'>Github</a>
     <a href='#'>LinkedIn</a>
   </div>
 </div>
